@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

html{
  display:flex;
  flex-direction:colum;
  align-items:center;
  justify-content:center;
}

* {
	font-family: 'Gowun Dodum', sans-serif;
}

.title{
  background-color:#90CD8A;
  color: white;
  font-size:24px;
  padding:4px 14px;
  border-radius:8px;
}

.bg{
  width: 360px;
  background-color:#C5E8C2;
  background-size:cover;
  background-position:center;
  margin:auto;
}

.msg{
  font-weight:bold;
  margin: 0px 0px 30px;
}

.bucket{
  width:160px;
  height:160px;
  background-size: cover;
  background-position: center;
  margin:8px;
  position:relative;

  font-size:16px;
  text-align:center;
  word-break:keep-all;
  font-weight:bold;
}

.img1{
  background:url("/img/leftimg1.png");
}

.img2{
  background:url("/img/rightimg1.png");
}

.img3{
  background:url("/img/leftimg2.png");
}

.img4{
  background:url("/img/rightimg2.png");
}

.img5{
  background:url("/img/leftimg3.png");
}

.img6{
  background:url("/img/rightimg3.png");
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

.done::after{
  content:"";
  width:70%;
  height:70%;
  background:url("/img/complete.png");
  background-size:cover;
  background-position:center;
  position:absolute;
  top:20%;
}